* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 1.2em;
    background-color: rgb(22,27,29);
    color: #555;
}

p {
    padding: 0 0 20px 0;
    line-height: 1.7em;
}


h1, h2 {
    font: normal 170% 'century gothic', arial;
    margin: 0 0 15px 0;
    padding: 15px 0 5px 0;
    color: #000;
}

h2 {
    font-size: 140%;
}

ul {
    margin: 2px 0 22px 30px;
    font-family: 'Roboto', sans-serif;
}

ul li {
    margin: 0 0 6px 0;
    padding: 0 0 4px 5px;
    line-height: 1.5em;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

.p_article {
    width: 800px;
    float: left;
    display: block;
}

.p_article h1 {
    padding-left: 25px;
    color: white;
    font-size: 35px;
}

.p_article ul {
    padding-top: 25px;
}

.p_article ul li a {
    color: white;
    padding-top: 10px;
}

.p_article ul li a:hover {
    color: #EC2227;
}

.header {
    height: 0px;
    font-size: 0.8em;
    margin-left: 0px;
    margin-right: 0px;
    min-width: 900px;
}

.main, .logo, .menubar, .site_content {
    margin-left: auto;
    margin-right: auto;
}

.logo {
    width: 1000px;
    padding-bottom: 40px;
}

.logo h1, .logo h2 {
    font: normal 300% 'century gothic', arial, sans-serif;
    margin: 0 0 0 9px;
}

.logo_text h1, .logo_text h1 a, .logo_text h1 a:hover {
    padding: 22px 0 0 0;
    color: #fff;
    letter-spacing: 0.1em;
}

.logo_text h2 {
    font-size: 0.9em;
    padding: 4px 0 0 0;
    color: #999;
}

.menubar {
    width: 820px;
    height: 46px;
}

ul.menu {
    float: right;
    font-size: 20px;
}

ul.menu li {
    float: left;
    padding: 0 0 0 50px;
    list-style: none;
    margin: 1px 2px 0 0;
}

ul.menu li a {
    font: normal 100% 'trebucet ms', sans-serif;
    display: block;
    height: 20px;
    padding: 6px 35px 5px 28px;
    color: #fff;
    text-decoration: none;
}

ul.menu li.selected a {
    color: #EC2227;
}

ul.menu li a:hover {
    color: #EC2227;
}

hr {
    border: solid 1px rgb(38, 42, 44);
    height: 1.6px;
}

.site_content {
    width: 1000px;
    overflow: hidden;
    margin: 20px auto 0 auto;
    background-color: rgb(30,34,36);
}

.sidebar_container {
    width: 600px;
    margin-bottom: 80px;
    font-family: Roboto;
    margin-left: 170px;
}

.sidebar_container h1 {
    color: white;
    font-size: 35px;
    margin-left: 205px;
}


.card {
    margin-top: 25px;
    border: solid 1px rgb(38,42,44);
    background-color: rgb(38,42,44);
    border-radius: 10px;
    margin-left: 110px;
}


.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container1 {
    padding: 2px 16px;
}

.card_title {
    color: white;
}


.card_title:hover {
    color: #EC2227;
}
