<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="GamingTavern - это портал видоигр">
    <meta name="keywords" content="фильмы, фильмы онлайн, hd">
    <title>Главная страница</title>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/brython@3.12.0/brython.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/brython@3.12.0/brython_stdlib.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>
    <main class="main">
        <header class="header">
            <div class="logo">
                <header class="logo_text">
                    <h1><a href="/">GamingTavern</a></h1>
                    <h2>Видеоигры - наша страсть!</h2>
                </header>
            </div>

            <nav class="menubar">

                <ul class="menu">
                    <li><b><a href="/">Главная</a></b></li>
                    <li class="selected"><b><a href="/about">Обсуждения</a></b></li>
                    <li><b><a href="#">Игры</a></b></li>
                    <li><b><a href="/contact">Контакты</a></b></li>
                </ul>
            </nav>
        </header>

        <div class="site_content">
            <div class="sidebar_container">
                <h1><b>Все обсуждают</b></h1>
                <article class="all_about">
                    <img class="all_about_img" src='static/assets/img/team_spirit.png'>
                    <a href="https://stopgame.ru/newsdata/60453/team_spirit_stala_dvukratnym_chempionom_the_international">
                        Team Spirit стала двукратным чемпионом The International
                    </a>
                </article>
            </div>
        </div>
    </main>
</body>

</html>
