<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="GamingTavern - это портал видоигр">
    <meta name="keywords" content="фильмы, фильмы онлайн, hd">
    <title>Обсуждения</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>
    <main class="main">
        <header class="header">
            <div class="logo">
                <header class="logo_text">
                    <h1><a href="/">Gaming Tavern</a></h1>
                    <h2>Видеоигры - наша страсть!</h2>
                </header>
            </div>

            <nav class="menubar">

                <ul class="menu">
                    <li><b><a href="/">Главная</a></b></li>
                    <li class="selected"><b><a href="/about">Обсуждения</a></b></li>
                    <li><b><a href="/blogs">Блоги</a></b></li>
                    <li><b><a href="/contact">Контакты</a></b></li>
                </ul>
            </nav>
        </header>

        <div class="site_content">
            <div class="sidebar_container">
                <h1><b>Все обсуждают</b></h1>

                {% for article_name, article_href, article_img in data %}
                    <div class="card">
                        <img src="{{ article_img }}" alt="Avatar" style="width:100%">
                        <div class="container1">
                            <b><a class="card_title" href="{{ article_href }}">{{ article_name }}</a></b>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </main>
</body>

</html>
