<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Gaming Tavern - это портал видоигр">
    <meta name="keywords" content="фильмы, фильмы онлайн, hd">
    <title>Блоги</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>
    <main class="main">
        <header class="header">
            <div class="logo">
                <header class="logo_text">
                    <h1><a href="/">Gaming Tavern</a></h1>
                    <h2>Видеоигры - наша страсть!</h2>
                </header>
            </div>

            <nav class="menubar">

                <ul class="menu">
                    <li><b><a href="/">Главная</a></b></li>
                    <li><b><a href="/about">Обсуждения</a></b></li>
                    <li class="selected"><b><a href="/blogs">Блоги</a></b></li>
                    <li><b><a href="/contact">Контакты</a></b></li>
                </ul>
            </nav>
        </header>

        <div class="site_content">
            <div class="game_card_flex">

                {% for name, href, img in data %}
                    <div class="game_card_container">
                        <img src="{{ img }}" alt="Avatar" style="width:192">
                            <h4>
                                <b><a href="{{ href }}">{{ name }}</a></b>
                            </h4>
                    </div>
                {% endfor %}


            </div>

        </div>
    </main>
</body>

</html>
