<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="GamingTavern - это портал видоигр">
    <meta name="keywords" content="фильмы, фильмы онлайн, hd">
    <title>Главная страница</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>
    <main class="main">
        <header class="header">
            <div class="logo">
                <header class="logo_text">
                    <h1><a href="/">GamingTavern</a></h1>
                    <h2>Видеоигры - наша страсть!</h2>
                </header>
            </div>

            <nav class="menubar">

                <ul class="menu">
                    <li><b><a href="/">Главная</a></b></li>
                    <li><b><a href="/about">Обсуждения</a></b></li>
                    <li><b><a href="/blogs">Блоги</a></b></li>
                    <li class="selected"><b><a href="/contact">Контакты</a></b></li>
                </ul>
            </nav>
        </header>

        <div class="site_content">

            <div class="sidebar_container">

                <div class="sidebar">
                    <h2 style="color:white; font-family: Arial">Вход</h2>
                    <form method="post" action="#" id="login">
                        <input type="text" name="login_field" placeholder="Логин">
                        <input type="password" name="password_field" placeholder="Пароль">
                        <input type="submit" class="btn" value="Вход">
                        <div class="lables_passreg_text">
                            <span><a href="#">Забыл пароль?</a></span>
                            | <span><a href="#" >Регистрация</a></span>
                        </div>

                    </form>
                </div>

            </div>


            <div class="content">

                <h1 style="color:white; font-family: Arial; margin-left: 90px">Контакты</h1>
                <p style="color:white; font-family: Arial; margin-left: 90px">Отправьте ваш отзыв о портале GamingTavern</p>

                <div class="send_send_contact">

                    <form method="post" action="#" id="contact">
                        <input type="text" name="review_name" placeholder="ваше имя">
                        <input type="text" name="review_email" placeholder="ваш email">
                        <textarea name="review_text" placeholder="отзыв"></textarea>
                        <input class="btn" type="submit" value="отправить">

                    </form>

                </div>

            </div>

        </div>

    </main>

</body>
</html>